// From bootstrap
$font-size-base: 14px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1050px;
$screen-lg: 1600px;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$first_color:#333;
$second_color: #f1f1f1;
$brand-primary: #337ab7;

$light_gray:  #c4c4c4;
$bold_gray: #9a9a9a;
$body-bg: $second_color;

// Fonts
$text-font: 'Open Sans', sans-serif;
$header-font: 'Open Sans', sans-serif;

// Animation
$default-transition-duration: .3s;
$footer_height: 350px;